*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.cardHighlight {
    min-height: 100%;
}

html, body {
    height: 100%
}

#root {
  height: 100%;
}

.content-container {
    position: relative;
    top: 48px;
    z-index: 0;
}

.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1;
}